* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 10px;
}
h3 {
  text-align: center;
  background-color: aqua;
  color: red;
  margin-bottom: 10px;
  text-decoration: underline;
}

form {
  width: 100%;
  height: 200px;
  padding: 30px;
  background-color: rgb(16, 140, 249);
}

.text-style {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  font-weight: 900;
}

form input {
  outline: none;
  width: 65px;
  height: 25px;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}

button {
  margin-top: 10%;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
}

button:hover {
  margin-left: 5px;
  padding: 10px;
  font-weight: 900;
  background: yellow;
  color: blueviolet;
}

#alert1 {
  display: none;
  width: 35%;
  height: 35px;
  padding: 15px;
  background: rgb(232, 249, 49);
  border-radius: 30%;
  border: 3px solid red;
  font-weight: 400;
  position: fixed;
  position: absolute;
  top: 10px;
  right: -3%;
  overflow: none;
}

p {
  margin-top: 20px;
  font-size: larger;
  font-style: italic;
  font-weight: 900;
  padding: 12px;
}

a {
  width: 3rem;
  margin: 10px;
  margin-left: 30px;
  border-radius: 20%;
  padding: 5px;
  border: 3px solid goldenrod;
  text-align: left;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(13, 13, 13);
}
a:hover {
  font-weight: 900;
  padding: 4px;
  nav-right: 5px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 3px solid gold;
}
.container {
  width: 200px;
  height: 150px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 20px;
  overflow: auto;
  background-color: aqua;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid green;
  overflow: auto;
  display: none;
}

ul {
  list-style: none;
  width: 100vw;
  height: 50vw;
  background: rgb(245, 211, 245);
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: space-around; */
}

 ul li {
  margin-top: 5%;
} 
.photo-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("ph.png");
  background-size: cover;
}

.outer-photo-box {
  background: rgb(248, 242, 242);
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.outer-photo-box h1 {
  animation: animate 4s ease-in-out 0.1s 1 normal forwards;
}

@keyframes animate {
  0% {
    transform: translateX(0);
    scale: 1.1;
  }
  50%{
    scale: 1.5;
    font-weight: 500;

  }
  100% {
    color: blue;
    font-weight: 900;

  }
}

